parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$token of method League\\OAuth2\\Client\\Provider\\AbstractProvider\:\:getResourceOwner\(\) expects League\\OAuth2\\Client\\Token\\AccessToken, League\\OAuth2\\Client\\Token\\AccessTokenInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Auth/GoogleAuthProvider.php
